/******* Change Box Model ***************/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("/images/site/small_check.jpg");
  background-repeat: repeat;
  font-family: "PT Serif", serif;
}

#wrapper {
  background-color: white;
  border-color: red;
  border-width: .50rem;
  border-style: solid;
  border-radius: 2rem;
  height: 100rem;
  width: 45rem;
  margin: auto;
  padding: 12px;
}

.account, .siteName {
  display: inline-block;
  width: 20rem;
  text-align: center;
}

.siteName a{
  font-size: x-large;
  color: black;
  text-decoration: none;
}

.account a{
  color: black;
  text-decoration: none;
}

nav {
  max-width: 100%;
  background-color: rgb(199, 199, 199);
  height: 25px;
}

nav ul li {
  display: inline-block;
  width: 6rem;
  text-align: center;
  color: white;
}

.orderAdv, .welcomeCar {
  position: absolute;
}

.orderAdv {
  width: 10rem;
  height: 15rem;
  padding: 12px;
  background-color:rgb(255, 185, 185);
  margin-top: 150px;
  margin-left: 20px;
  opacity: 0.85;
}

.orderBtn {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 148, 148);
}

footer {
  bottom: -30px;
  position: relative;
  }

.upgrades, .reviews {
  display: inline-grid;
  margin-top: 380px;
  max-width: 345px;
  padding: 20px;
}

.upgrade1, .upgrade2 {
  max-width: 265px;
  display: inline-flex;
  gap: 15px;
  padding: 10px;
}

.upgrades img{
  width: 50px;
}

form {
  background-color: rgb(255, 185, 185);
  margin: auto;
  width: 300px;
  height: 160px;
  border-radius: 10px;
  padding: 15px;
}
